extends layout
  
block content
  .container.mb-5
    h1.text-center Liste de tout les ptits bails

    each ing in ingredients
      div(id=`${ing._id}` class=`alert alert-dark row`)
        if (ing.qt != 0) 
          .col-6 #{ing.qt} #{ing.type} #{ing.name}
        else
          .col-6 #{ing.type} #{ing.name}

        .col-6.text-right
          button(id=`${ing._id}-success` class=`btn btn-success mr-3 mr-sm-0`) Check

    // button exist but not yet displayed
    .container.fixed-bottom
      button.btn.btn-lg.btn-danger.d-none.mb-2 Delete
  
  script(src="/javascripts/list.js" type="text/javascript")