extends layout
  
block content

  //- Content start here

  h1.text-center.py-md-3 Liste de tout les ptits bails

  .container.mb-3
    #listContainer.row.justify-content-right

      each ing in ingredients

        .col-12.col-md-6
          
            div(id=`${ing._id}` class=`alert alert-dark`)

              .row

                if (ing.qt != 0) 
                  .col-6 #{ing.qt} #{ing.type} #{ing.name}
                else
                  .col-6 #{ing.type} #{ing.name}

                .col-6.text-right
                  button(id=`${ing._id}-success` class=`btn btn-primary btn-check`) Check

    //button just used for the purpose of margin the bottom

    button.btn.btn-large.invisible invisible button

    // button exist but not yet displayed
    .container.fixed-bottom
      button(id="btnDelete" type="button" class=`btn btn-lg btn-danger d-none mb-2` data-toggle="modal" data-target="#confirmDelete") Tej
      button(id="btnAdd" type="button" class=`btn btn-lg btn-success btn-block mb-2` data-toggle="modal" data-target="#addObject") Ajouter
      button(id="btnUpdate" type="button" class=`btn btn-lg btn-warning d-none mb-2`) Update narvalo

  include mixins/modal
  include mixins/formModal

  +modal("confirmDelete", "Fais gaffe !", "T'es sûr de ce que tu vas faire là ?", "Ouaip")

  +formModal("addObject", "Rajoute un objet de ton choix")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script(src="/javascripts/listpage.js" type="text/javascript")