//- Mixin modal declaration

mixin modal(id, title, text, confirmButtonText)
  .modal.fade(id=id tabindex='-1' role='dialog' aria-labelledby=id+'Title' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5(id=id+"LongTitle" class="modal-title")=title
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body=text
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Ferme
          button.btn.btn-primary(id=id+"ConfirmButton" type='button' data-dismiss='modal')=confirmButtonText
